<% include ../partials/header %>

<h1><%= restaurant.name %></h1>
<em>cuisine: <%= restaurant.cuisine %></em>

<div class="rant-list">
  <!-- TODO: add rants for restaurants -->
</div>

<div class="new-rant">
  <!-- TODO: add rants for restaurants -->
</div>

<% include ../partials/footer %>
