<% include ../partials/header %>

<h1><%= restaurant.name %></h1>
<em>cuisine: <%= restaurant.cuisine %></em>

<div class="rant-list">
  <% rants.forEach(function(rant) { %>
    <span><%= rant.title %></span>
    <span><%= rant.body %></span>
  <% }) %>
</div>

<div class="new-rant">
  <!-- TODO: add rants for restaurants -->
</div>

<% include ../partials/footer %>
