<% include ../partials/header %>

<h1><%= restaurant.name %></h1>
<em>cuisine: <%= restaurant.cuisine %></em>

<div class="rant-list">
  <% rants.forEach(function(rant) { %>
    <span><%= rant.title %></span>
    <span><%= rant.body %></span>
  <% }) %>
</div>

<div class="new-rant" method="POST">
  <form name="new-rant-form">
    <input type="text" name="rant-title" id="rant-title" placeholder="Title">
    <textarea id="rant" name="rant" placeholder="Write your rant..."> </textarea>
    <button id='rant-submit' type="submit"> RANT! </button>
  </form>
</div>

<% include ../partials/footer %>
